<%= render "/shared/header" %>
<section class="allReservations">
<h3>Your Reservations</h3>

<ul>
	<% @reservations.newest_first.each do |reservation| %>
		<% if current_user != nil %>
			<% if reservation.user_id == current_user.id %>
				<li>
					<%= image_tag("reservationLi.png", alt: "list item") %>
					You have a reservation at <span><%= reservation.restaurant.name %></span> on <%= reservation.date.strftime("%A, %b %d") %> at <%= reservation.time.strftime("%I:%M %p") %>. Party size of <%= reservation.party_size %>.
				</br></br>
					
					<%= link_to "VIEW", "/"%> | Can't get these links to work yet.. but the edit/and delete functionality is completed 
					</br></br>
				</li>
			<% end %>
		<% end %>
	<% end %>
</ul>
</section>

