<%= form_for (@restaurant) do |f| %>
	<% if @restaurant.errors.any? %>
		<div id="error_explanation">
			<h3>
				Whoops!
				<%= pluralize(@restaurant.errors.count, "error")%>
				prohibited this restaurant from being added:
			</h3>
			<ul>
				<% @restaurant.errors.full_messages.each do |message|%>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %></br></br>
	</div>
	<div class="field">
		<%= f.label :location %>
		<%= f.text_field :location %></br></br>
	</div>
	<div class="field">
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number %></br></br>
	</div>
	<div class="field">
		<%= f.label :open_time %>
		<%= f.select(:open_time, restaurant_time_select) %></br></br>
	</div>
	<div class="field">
		<%= f.label :close_time %>
		<%= f.select(:close_time, restaurant_time_select) %></br></br>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_field :description %></br></br>
	</div>
	<div class="field">
		<%= f.label :menu %>
		<%= f.text_field :menu %></br></br>
	</div>
	<div class="field">
		<%= f.label :price_range %>
		<%= f.text_field :price_range %></br></br>
	</div>
	<div class="field">
		<%= f.label :capacity %>
		<%= f.text_field :capacity %></br></br>
	</div>
	<div class="field">
		<%= f.label :picture %>
		<%= f.text_field :picture %></br></br>
	</div>
	<div class="actions">
		<%= f.submit "Save Restaurant", class: "button"%>
	</div>
<% end %>