<h1>Seat Yourself!</h1>

<% if is_owner? %>
	<%= link_to "Add a New Restaurant",  new_restaurant_url %>
<% end %>

<h3>All Restaurants</h3>
<ul>
	<% @restaurants.each do |restaurant| %>
		<li>
			<%= link_to restaurant.name, restaurant_path(restaurant) %></br>
			<%= image_tag restaurant.picture %> </br>
				Location: <%= restaurant.location %> </br>
				Phone Number: <%= restaurant.phone_number %> </br>
				Hours: <%= restaurant.open_time %> - 
					<% if restaurant.close_time >= 12 %>
						<%= (restaurant.close_time - 12) %>
					<% else %>
						<%= restaurant.close_time %> 
					<% end %>
				 </br>
				Description: <%= restaurant.description %> </br>
				Menu: <%= restaurant.menu %> </br>
				Price Range: $<%= restaurant.price_range %> </br>
				<% if is_owner? %>
					Capacity: <%= restaurant.capacity %> </br>
				<% end %>
			</br>
		</li>
	<% end %>
</ul>