<%= render "/shared/header" %>

<div id="search">
    <%= render :partial => 'categories/search' %>
</div>

<section class="index">
<h3>All Restaurants</h3>
<ul>
	<% @restaurants.each do |restaurant| %>
		<li>
			<%= image_tag restaurant.picture %> 
			<h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
				Location: <%= restaurant.location %> </br>
				Hours: <%= restaurant.open_time %> - 
					<% if restaurant.close_time >= 12 %>
						<%= (restaurant.close_time - 12) %>
					<% else %>
						<%= restaurant.close_time %> 
					<% end %>
				 </br>
				<!-- Description: <%= restaurant.description %> </br> -->
				Price Range: $<%= restaurant.price_range %> </br>
				<i>Cuisine Type: <%= cuisine_name(restaurant.cuisine_id) %></i>
			</br>
		</li>
	<% end %>
</ul>
</section>