<%= render "/shared/header" %>
</br>
<section class="editDelete">
<%= link_to "EDIT", edit_restaurant_path(@restaurant) %>  <%= link_to "DELETE", @restaurant, method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}  %>
</section>
<section class="restaurantShow">
<ul>
	<%= image_tag @restaurant.picture %> </br></br>
	<h3><b><%= @restaurant.name %></b></h3>
	<li>Location: <%= @restaurant.location %> </li>
	<li>Phone Number: <%= @restaurant.phone_number %> </li>
	<li>Hours: <%= @restaurant.open_time %> - 
		<% if @restaurant.close_time >= 12 %>
			<%= (@restaurant.close_time - 12) %>
		<% else %>
			<%= @restaurant.close_time %> 
		<% end %>
	</br>
	<li>Description: <%= @restaurant.description %> </li>
	<li>Menu: <%= @restaurant.menu %> </li>
	<li>Price Range: $<%= @restaurant.price_range %> </li>
	<% if is_owner? %>
	<li>Capacity: <%= @restaurant.capacity %> </li>
	<% end %>
</ul>

<p class="makeReservation"><%= link_to "Make a Reservation", new_restaurant_reservation_path(@restaurant) %></p>
</section>