<%= link_to "Back to All Restaurants", restaurants_url %> | <%= link_to "Edit", edit_restaurant_path(@restaurant) %> | <%= link_to "Delete", @restaurant, method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}  %>

<h3><%= @restaurant.name %></h3>
<p>
	<%= @restaurant.location %> </br>
	<%= @restaurant.phone_number %> </br>
	<%= @restaurant.open_time %> - <%= @restaurant.close_time %> </br>
	<%= @restaurant.description %> </br>
	<%= @restaurant.menu %> </br>
	<%= @restaurant.price_range %> </br>
	<%= @restaurant.capacity %> </br>
	<%= image_tag @restaurant.picture %> </br>
</p>

<%= link_to "Make a Reservation", new_restaurant_reservation_path(@restaurant) %>