<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<% if flash[:notice] %>
		     <p id="notice"><%= flash[:notice] %></p>
		<% end %>

		<% if flash[:alert] %>
		     <p id="alert"><%= flash[:alert] %></p>
		 <% end %>
		
		<p class="userinfo">
			<% if current_user %>
				Signed in as <span><%= current_user.name %></span>. <%= link_to "Log out", session_path("current"), :method => :delete %>
				<% else %>
				<%= link_to "Sign Up", new_user_path, class: "button" %> &nbsp; <%= link_to "Log in", new_session_path, class: "button" %> 
			<% end %>
		</p>
		
		<%= yield %>
	</div>
</body>
</html>
